# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/
.venv/

# Django files
db.sqlite3
*.sqlite3
*.log
local_settings.py

# IDE / OS junk
.vscode/
.idea/
.DS_Store

# Environment files
.env
.env.local
.env.*.local

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Migration cache
migrations/__pycache__/
